*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(135deg,#82c4f0,#0f3d9a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow:  0 4px 12px #000000;
    width: 100%;
    max-width: 400px;
}
h2{
    text-align: center;
    margin-bottom: .5rem;
    color: #374dd7;
}
.entrada{
    margin-bottom: 2rem;
}
label{
    display: block;
    margin-bottom: .5rem;
    color:#2766cb;
}
input{
    width: 100%;
    padding: .5rem;
    border: 1px solid  #646569,;
    border-radius: .4rem;
    outline: none;
}
